/* 1680px */
@media (min-width: 1441px) {
  .inner-default {
    max-width: 168rem;
    padding-left: 12rem;
    padding-right: 12rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  
  .mb-default {
    max-width: 76.4rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  } 
}

/* 1440px */
@media (max-width: 1440px) {
  .inner-default {
    max-width: 144rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

/* 1280px */
@media (max-width: 1280px)  {
  .inner-default {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

/* 1024px */
@media (max-width: 1024px) {
  .inner-default {
    padding-left: 4.2rem;
    padding-right: 4.2rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .heading1-b-48 {
    font-size: 4rem;
  }
  .heading2-b-40 {
    font-size: 3.6rem;
  }
  .heading3-b-36,
  .heading3-m-36 {
    font-size: 3.2rem;
  }
  .heading4-b-32,
  .heading4-sb-32,
  .heading4-m-32,
  .heading4-r-32 {
    font-size: 2.8rem;
  }
  .heading5-b-30,
  .heading5-sb-30,
  .heading5-m-30,
  .heading5-r-30 {
    font-size: 2.6rem;
  }
  .heading6-b-28,
  .heading6-sb-28,
  .heading6-m-28,
  .heading6-r-28 {
    font-size: 2.4rem;
  }
  .heading7-sb-26,
  .heading7-m-26,
  .heading7-r-26 {
    font-size: 2.2rem;
  }
  .heading8-b-24,
  .heading8-sb-24,
  .heading8-m-24,
  .heading8-r-24 {
    font-size: 2.1rem;
  }
  .heading9-b-22,
  .heading9-sb-22,
  .heading9-m-22,
  .heading9-r-22 {
    font-size: 2rem;
  }
  .heading10-b-20,
  .heading10-sb-20,
  .heading10-m-20,
  .heading10-r-20 {
    font-size: 1.8rem;
  }
  .body1-b-18,
  .body1-sb-18,
  .body1-m-18,
  .body1-r-18 {
    font-size: 1.6rem;
  }
  .body2-b-16,
  .body2-sb-16,
  .body2-m-16,
  .body2-r-16 {
    font-size: 1.5rem;
  }
  .body3-b-14,
  .body3-sb-14,
  .body3-m-14,
  .body3-r-14 {
    font-size: 1.4rem;
  }
  .body4-b-13,
  .body4-sb-13,
  .body4-m-13,
  .body4-r-13 {
    font-size: 1.3rem;
  }
  .body5-b-12,
  .body5-sb-12,
  .body5-m-12,
  .body5-r-12 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .inner-default {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
  .display-none-tablet {
    display: none;
  }

  .heading1-b-48 {
    font-size: 3.2rem;
  }
  .heading2-b-40 {
    font-size: 3rem;
  }
  .heading3-b-36,
  .heading3-m-36 {
    font-size: 2.8rem;
  }
  .heading4-b-32,
  .heading4-sb-32,
  .heading4-m-32,
  .heading4-r-32 {
    font-size: 2.4rem;
  }
  .heading5-b-30,
  .heading5-sb-30,
  .heading5-m-30,
  .heading5-r-30 {
    font-size: 2.3rem;
  }
  .heading6-b-28,
  .heading6-sb-28,
  .heading6-m-28,
  .heading6-r-28 {
    font-size: 2.2rem;
  }
  .heading7-sb-26,
  .heading7-m-26,
  .heading7-r-26 {
    font-size: 2rem;
  }
  .heading8-b-24,
  .heading8-sb-24,
  .heading8-m-24,
  .heading8-r-24 {
    font-size: 1.9rem;
  }
  .heading9-b-22,
  .heading9-sb-22,
  .heading9-m-22,
  .heading9-r-22,
  .heading10-b-20,
  .heading10-sb-20,
  .heading10-m-20,
  .heading10-r-20 {
    font-size: 1.8rem;
  }
  .body1-b-18,
  .body1-sb-18,
  .body1-m-18,
  .body1-r-18 {
    font-size: 1.5rem;
  }
  .body2-b-16,
  .body2-sb-16,
  .body2-m-16,
  .body2-r-16 {
    font-size: 1.4rem;
  }
  .body3-b-14,
  .body3-sb-14,
  .body3-m-14,
  .body3-r-14,
  .body4-b-13,
  .body4-sb-13,
  .body4-m-13,
  .body4-r-13 {
    font-size: 1.3rem;
  }
  .body5-b-12,
  .body5-sb-12,
  .body5-m-12,
  .body5-r-12 {
    font-size: 1.2rem;
  }
}


.mb-default {
  max-width: 76.4rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
